#outterbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: center;
}
#Header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    background-color: white;
}
#innerbox{
    margin-top: 45px;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-image: url("styles/back.jpg");
    border: 1px solid rgba(128, 109, 0, 0);
    background-size: cover;
}
.leftbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.rightbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: rgba(122, 17, 17, 0.5);
}

.centext {
    text-align: center;
    font-size: xxx-large;
    color: #333;
    margin: 20px;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 800;
}

#nametright {
    position: fixed;
    left: 3%;
    top: 5.5px;
}
.companytext{
    font-size: 30px;
    color: rgb(128, 109, 0);
    margin: 0;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 800;
}
.menutext{
    font-size: 20px;
    color: rgb(94, 94, 94);
    margin: 0;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 300;
}

.hover:hover {
    color: rgb(128, 109, 0);
    text-decoration: none;
    font-family: "book", serif;
}
#menutleft {
    position: fixed;
    display: flex;
    right: 4%;
    top: 14px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 12%;
}
.but{
    text-decoration: none;
}
.textgeneric {
    font-size: 40px;
    padding-left: 5%;
    width: fit-content;
    padding-right: 5%;
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 300;
    text-shadow: black 0px 0px 13px;
}

.small{
    font-size: 30px;
}

@media (max-width: 620px) {
    #menutleft {
        display: none;
    }
}
@media (min-width: 620px) {

}