#outterbox {
    width: 400px;
    height: 60%;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: center;
}
#Header{
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    background-color: white;
}
#innerbox{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-image: url("styles/back.jpg");
    border: 1px solid rgba(128, 109, 0, 0);
    background-size: cover;
}
.leftbox{
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.rightbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 20%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.centext {
    text-align: center;
    font-size: xxx-large;
    color: #333;
    margin: 20px;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 800;
}

#nametright {
    position: fixed;
    left: 3%;
    top: 5.5px;
}
.companytext{
    font-size: 30px;
    color: rgb(128, 109, 0);
    margin: 0;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 800;
}
.menutext{
    font-size: 20px;
    color: rgb(94, 94, 94);
    margin: 0;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 300;
}

.hover:hover {
    color: rgb(128, 109, 0);
    text-decoration: none;
    font-family: "book", serif;
}
#menutleft {
    position: fixed;
    display: flex;
    right: 4%;
    top: 14px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 12%;
}
.but{
    text-decoration: none;
}
.textgeneric {
    font-size: 50px;
    width: 500px;
    padding-right: 5%;
    color: rgb(133, 116, 18);
    margin: 0;
    text-align: right;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 900;
    line-height: 45px;
}
.righttext{
    font-size:140px;
    text-align: left;
    /*margin-bottom: 125px;*/

}
.destext{
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 500;
    line-height: 45px;
}
.footertext{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.53);
    margin: -9px;
    text-align: center;
    font-family: "Hubot Sans", sans-serif;
    font-weight: 300;
    line-height: 45px;
}
.small{
    font-size: 30px;
}

@media (max-width: 700px) {
    #menutleft {
        display: none;
    }
    .imagemain{
        display: none;
    }
    .textgeneric {
        font-size: 10vw;
        width: 100vw;
        position: absolute;
        right: 2vw;
        color: rgb(133, 116, 18);
        margin: 0;
        text-align: right;
        font-family: "Hubot Sans", sans-serif;
        font-weight: 900;
        line-height: 10vw;
    }
    .righttext{
        display: none;
    }
}
@media (min-width: 700px) {

}